<div layout="column" layout-align="center center" style="height: 100%;">
  <md-whiteframe class="md-whiteframe-1dp" layout layout-align="center center" style="height: 50%; width: 50%;">
    <textarea layout-margin ng-model="ApplicationCtrl.text" style="height: 100%; width: 100%;"></textarea>
  </md-whiteframe>
  <button class="md-button" ng-click="ApplicationCtrl.exec(ApplicationCtrl.text)">СТАРТ</button>

  <div style="background-color: white;" ng-if="ApplicationCtrl.activeReverseVocablary">
    <md-toolbar md-scroll-shrink>
      <div class="md-toolbar-tools">Словник</div>
    </md-toolbar>

    <div layout="row" ng-cloak>
      <md-content style="height: 600px;" md-theme="altTheme">
        <section>
          <md-subheader class="md-primary">Правельний словник</md-subheader>
          <md-list layout-padding>
            <md-list-item class="md-1-line" ng-repeat="word in ApplicationCtrl.map | orderBy: 'name'">
              <div class="md-list-item-text">
                <p>
                  {{ word.name }}
                </p>
              </div>
            </md-list-item>
          </md-list>
        </section>
      </md-content>
      <md-content style="height: 600px;" md-theme="altTheme">
        <section>
          <md-subheader class="md-primary">Зворотній словник</md-subheader>
          <md-list layout-padding>
            <md-list-item class="md-1-line" ng-repeat="word in ApplicationCtrl.map | orderBy: 'reverse'">
              <div class="md-list-item-text">
                <p>
                  {{ word.name }}
                </p>
              </div>
            </md-list-item>
          </md-list>
        </section>
      </md-content>
    </div>
  </div>
</div>